/* Make the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:Arial;
}

/* Set the map height explicitly to define the size of the div element that contains the map. */
#map {
  height: 100%;
  z-index: 1;
}
  
/* Style the navbar */
* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgba(131, 33, 243, 0.993);
  color: white;
}

/* Style the search/filter dropdown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#filter {
  width: 100%;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 14px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#filter:focus {outline: 3px solid #ddd;}

.dropdown {
  float:right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index:5;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content ul li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content ul li:hover {background-color: #ddd}

.show {display:block;}


@media screen and (max-width: 600px) {
  .topnav {position: relative;}
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .dropbtn {
    position: absolute;
    top: 0;
    right: 0;  
  }
}
